<table class="table bordered table-striped">
        <tr>
            <td>
                <span class="badge">1-3 Kudos</span>
            </td>
            <td>Great Job Keep Collecting</td>
        </tr>
        <tr>
            <td>
                <span class="badge">4 Kudos</span>
            </td>
            <td>Free.. Lunch/ *Gift Card</td>
        </tr>
        <tr>
            <td>
                <span class="badge">7 Kudos</span>
            </td>
            <td>Movie Time !/ Dress Down Day</td>
        </tr>
        <tr>
            <td>
                <span class="badge">10 Kudos</span>
            </td>
            <td>Its Time to Take a Day Off</td>
        </tr>
        <tr>
            <td>
                <span class="badge">15 Kudos</span>
            </td>
            <td>My team deserves as Dress Down Day</td>
        </tr>
    </table>