<div class="col-lg-11">
    <table id="rewardsummary" class="table table-striped table-hover table-condensed bordered">
        <thead>
            <tr class="success">
                <th>Name</th>
                <th>Kudos</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in vm.users">
                <td class="username">{{user.Name}}</td>
                <td class="kudoscount">{{user.KudosCount}}</td>
                <td>
                    <input type="button" class="btn btn-primary btn-xs Reward" ng-click="vm.openRewardsModal(user)" data-toggle="modal" value="Reward $"> &nbsp;&nbsp;
                    <input type="button" class="btn btn-primary btn-xs Redeem" ng-disabled="user.KudosCount<4" ng-click="user.KudosCount>4 && vm.openRedeemModal(user)"
                        data-toggle="modal" value="Redeem $"> 
                </td>
            </tr>
        </tbody>
    </table>
</div>